@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cinzel", "serif";
}
#header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
}
.project-name-container {
  display: flex;
  justify-content: center;
}
.project-name-container > h1 {
  font-family: "Permanent Marker", "cursive";
  font-size: 3rem;
  color: powderblue;
}
#boards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 80vh;
  pointer-events: none;
}
.board-container {
  width: 48vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
}
.seperator {
  height: 100%;
  background-color: darkgray;
  width: 4vw;
}
.board-container h2 {
  text-align: center;
  width: 100%;
  height: 6%;
}
.battle-info {
  width: 100%;
  height: 7%;
  background-color: lightblue;
  border-bottom: 1px solid black;
}
.player-board,
.enemy-board {
  width: 100%;
  height: 87%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.player-board-container {
  background-color: orangered;
}
.enemy-board-container {
  background-color: fuchsia;
}
.player-lives-left {
  color: orangered;
  font-size: xx-large;
}
.enemy-lives-left {
  color: fuchsia;
  font-size: xx-large;
}
.lives {
  text-align: center;
}
.cell {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  background-color: lightblue;
}
.player-ship-cell {
  background-color: orangered;
}
/* .enemy-ship-cell {
  background-color: fuchsia;
} */
#shot {
  background-image: url("./icon-50.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.6;
  background-color: firebrick;
  pointer-events: none;
}
#gameover-modal {
  display: none;
  z-index: 99;
  background-color: cadetblue;
  position: fixed;
  height: 40vh;
  width: 50vw;
  left: 25vw;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  top: 25vh;
  border-radius: 10px;
}
.game-over-modal {
  color: red;
  font-size: 1.8rem;
}
#start-modal {
  display: flex;
  z-index: 99;
  background-color: cadetblue;
  position: fixed;
  height: 40vh;
  width: 50vw;
  left: 25vw;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  top: 25vh;
  border-radius: 10px;
}
input {
  outline: transparent;
  padding: 0.3rem;
  text-align: center;
  font-family: "Cinzel";
  font-weight: 700;
  font-size: 1rem;
}
button {
  padding: 0.5rem;
  border-radius: 10px;
  width: 8rem;
  cursor: pointer;
  font-weight: 700;
}
button:active {
  transform: translateY(2px);
}
#footer {
  width: 100vw;
  height: 10vh;
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer h1 {
  transform: scale(1, -1);
}
